<!-- Solo accesible para los administradores -->

<div class="container">
    <h1 class="well">Formulario de carga</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarProfesional()">
                <div class="col-sm-12">

                    <div class="alert alert-primary" role="alert">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Apellidos</label>

                                <input tabindex="1" formControlName="Apellidos" name="Apellidos" required type="text" placeholder="Apellidos..." class="form-control">
                                <!-- <div class="col-sm-6 form-group"> -->
                                <label>Rol : </label>
                                <select tabindex="3" class="custom-select" formControlName="IdRol" required>
                                            <option value="" disabled>Seleccione un rol...</option>
                                            <option value="2">Profesional</option>
                                            <option value="3">Administrador</option>
                                         </select>
                                <!-- </div> -->
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Nombres</label>
                                <input tabindex="2" formControlName="Nombres" name="Nombres" required type="text" placeholder="Nombres..." class="form-control">

                                <div class="form-gyroup">
                                    <label class="control-label">Sexo</label>
                                    <select tabindex="3" required class="form-control" formControlName="Sexo">
                                    <option value="0">Hombre</option>
                                    <option value="1">Mujer</option>
                                </select>

                                </div>

                            </div>

                            <div class="col-sm-6 form-group">
                                <label>Documento : </label>
                                <input tabindex="4" maxlength="11" size="11" required pattern="[0-9]*" formControlName="Documento" name="Documento" required type="text" placeholder="Documento" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Tipo de documentacion : </label>
                                <select tabindex="5" required formControlName="IdTipoDocumento" name="IdTipoDocumento" class="form-control">
                                <option value="1">DNI</option>
                                <option value="2">Du</option>
                                <option value="3">Pasaporte</option>
                            </select>
                            </div>


                        </div>
                        <div>
                            <label tabindex="6" for="start">Fecha de Nacimiento</label>
                        </div>
                        <div>
                            <input type="date" name="FechaNac" formControlName="FechaNac" required>
                        </div>


                        <div class="form-group">
                            <label>Contraseña : </label>
                            <input tabindex="7" formControlName="Password" required name="Password" type="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Repetir contraseña : </label>
                            <input tabindex="8" formControlName="Password2" required name="Password2" type="password" placeholder="Repetir contraseña" class="form-control">
                        </div>

                        <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                            <p class="text-danger">
                                Las contraseñas deben ser iguales
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Telefono : </label>
                            <input tabindex="9" formControlName="Telefono" name="Telefono" type="text" placeholder="Telefono" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email : </label>
                            <input tabindex="10" required formControlName="Correo" name="Correo" type="email" placeholder="Ingrese Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Usuario : </label>
                            <input tabindex="11" formControlName="Usuario" name="Usuario" type="text" required placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Observaciones : </label>
                            <textarea tabindex="12" formControlName="Observaciones" name="Observaciones" placeholder="Observaciones" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="alert alert-dark" role="alert">


                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Pais : </label>
                                <input tabindex="13" formControlName="Pais" name="Pais" type="text" placeholder="Pais" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Ciudad : </label>
                                <input tabindex="14" formControlName="Ciudad" name="Ciudad" type="text" placeholder="Ciudad" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Calle : </label>
                                <input tabindex="15" formControlName="Calle" name="Calle" type="text" placeholder="Calle" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Numero : </label>
                                <input tabindex="16" formControlName="Numero" name="Numero" type="text" placeholder="Numero" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Piso : </label>
                                <input tabindex="17" formControlName="Piso" name="Piso" type="text" placeholder="Piso" class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Departamento : </label>
                                <input tabindex="17" formControlName="Departamento" name="Departamento" type="text" placeholder="Departamento" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar</button>
                    <br>
                </div>


            </form>
        </div>
    </div>
</div>